<settings>
	<category label="[COLOR red][B]Listas Adriano TV[/B][/COLOR]">
		<setting label="[B]MUSICA[/B]" type="text"  id="online_m3u" default="http://bit.ly/1IxL5qr" />
		<setting label="[B]FILMES[/B]" type="text"  id="filmes_m3u" default="http://bit.ly/1mlrIqg" />			
		<setting label="[B]INFANTIL[/B]" type="text"  id="infantil_m3u" default="http://bit.ly/1mJjjgR" />
		<setting label="[B]NASA[/B]" type="text"  id="nasa_m3u" default="http://bit.ly/1Jbsz7e" />
		<setting label="[B]NOTICIAS[/B]" type="text"  id="noticias_m3u" default="http://bit.ly/1YLrGnQ" />
		<setting label="[B]PORTUGAL[/B]" type="text"  id="pt_m3u" default="http://bit.ly/1QQKXoN" />
		<setting label="[B]RUSSIA[/B]" type="text"  id="ru_m3u" default="http://bit.ly/22u6cR5" />
		<setting label="[B]DESPORTO[/B]" type="text"  id="desporto_m3u" default="http://bit.ly/1NSnvl5" />
		<setting label="[B]SERIES[/B]" type="text"  id="series_m3u" default="http://bit.ly/1ZwhamC" />
		<setting label="[B]INGLATERRA[/B]" type="text"  id="uk_m3u" default="http://bit.ly/1SikmAj" />	
		<setting label="[B]PRAIAS[/B]" type="text"  id="praias_m3u" default="http://bit.ly/1JbsHUl" />		
	</category>
</settings>