<settings>
<category label="[COLOR red][B]Adiciona as tuas listas[/B][/COLOR]">
		<setting label="[B]Lista online M3U[/B]" type="text"  id="pessoal_m3u" default="" />
		<setting label="[B]Lista Local M3U[/B]" type="file"  id="pessoal_local_m3u" default="" />
		<setting label="[COLOR red][B]Lista Online XML[/B][/COLOR]" type="text"  id="pessoal_online_xml" default="" />		
		<setting label="[COLOR red][B]LLista Local XML[/B][/COLOR]" type="file"  id="pessoal_local_xml" default="" />		
	</category>
	<category label="[COLOR red][B]Listas Adriano TV[/B][/COLOR]">
		<setting label="[B]Musica[/B]" type="text"  id="musica_m3u" default="http://bit.ly/1PjijuT" />
		<setting label="[B]Filmes[/B]" type="text"  id="filmes_m3u" default="http://bit.ly/1TaI9k3" />
		<setting label="[B]Infantil[/B]" type="text"  id="infantil_m3u" default="http://bit.ly/1Ys2cAU" />
		<setting label="[B]Nasa[/B]" type="text"  id="nasa_m3u" default="http://bit.ly/1U0mJpL" />
		<setting label="[B]Noticias[/B]" type="text"  id="noticias_m3u" default="http://bit.ly/1U0mNWy" />
		<setting label="[B]Portugal[/B]" type="text"  id="pt_m3u" default="http://bit.ly/1NHJLOq" />
		<setting label="[B]Russia[/B]" type="text"  id="ru_m3u" default="http://bit.ly/1PjGTvN" />
		<setting label="[B]Desporto[/B]" type="text"  id="desporto_m3u" default="http://bit.ly/1mwyEkC" />	
		<setting label="[B]Series[/B]" type="text"  id="series_m3u" default="http://bit.ly/1Tdb1YR" />	
		<setting label="[B]Ingleses[/B]" type="text"  id="uk_m3u" default="http://bit.ly/1QCyipB" />	
		<setting label="[B]Praias[/B]" type="text"  id="praias_m3u" default="http://bit.ly/1OjmOGY" />			
	</category>
</settings>