<settings>
<category label="[COLOR red][B]Adiciona as tuas listas[/B][/COLOR]">
		<setting label="[B]Lista online M3U[/B]" type="text"  id="pessoal_m3u" default="" />
		<setting label="[B]Lista Local M3U[/B]" type="file"  id="pessoal_local_m3u" default="" />
		<setting label="[COLOR red][B]Lista Online XML[/B][/COLOR]" type="text"  id="pessoal_online_xml" default="" />		
		<setting label="[COLOR red][B]LLista Local XML[/B][/COLOR]" type="file"  id="pessoal_local_xml" default="" />		
	</category>
	<category label="[COLOR red][B]Listas Adriano TV[/B][/COLOR]">
		<setting label="[B]Lista M3U de Musica[/B]" type="text"  id="online_m3u" default="http://bit.ly/1PjijuT" />
		<setting label="[B]Lista M3U de filmes[/B]" type="text"  id="filmes_m3u" default="http://bit.ly/1TaI9k3" />			
	</category>
</settings>